<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Mars Rover, IIT Mandi</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	{% load static %}

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href={% static "bootstrap/bootstrap.css"%}>
	<link rel="stylesheet" href={% static "css/misc.css"%}>
	<link rel="stylesheet" href={% static "css/red-scheme.css"%}>
	
	<!-- JavaScripts -->
	<script src={% static "js/jquery-1.10.2.min.js"%}></script>
	<script src={% static "js/jquery-migrate-1.2.1.min.js"%}></script>

	<link rel="shortcut icon" href={% static "images/favicon.ico"%} type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href={% url 'index'%}>Home</a></li>
            <li><a href={% url 'gallery'%}>Gallery</a>
            </li>
            <li><a href={% url 'blog'%}>Blogs</a>
            <li><a href={% url 'team'%}>Team</a></li>
            <li><a href={% url 'contact'%}>Sponsor Us</a></li>
			{% if user.is_authenticated %}
				<li><a href={% url 'logout' %}>Logout</a></li>
			{% else %}
				<li><a href={% url "social:begin" "google-oauth2" %}>Log in via Google</a></li>
			{% endif %}
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href={% url 'index'%} style="font-size: 20px;">
							<img src={% static "images/logo.png"%}>
							&nbsp Mars Rover, IIT Mandi
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li><a href={% url 'index'%}>Home</a></li>
					            <li class="active"><a href={% url 'gallery'%}>Gallery</a>
					            </li>
					            <li><a href={% url 'blog'%}>Blogs</a>
					            </li>
					            <li><a href={% url 'team'%}>Team</a></li>
          						<li><a href={% url 'contact'%}>Sponsor Us</a></li>
								{% if user.is_authenticated %}
									<li class='active'><a href={% url 'logout' %}>Logout <img src="https://img.icons8.com/external-others-sbts2018/32/000000/external-logout-social-media-others-sbts2018.png"/> </a></li>
								{% else %}
									<li class='active'><a href={% url "social:begin" "google-oauth2" %}><img src="https://img.icons8.com/fluency/32/000000/google-logo.png"/><img src="https://img.icons8.com/external-kmg-design-outline-color-kmg-design/32/000000/external-login-real-estate-kmg-design-outline-color-kmg-design.png"/></a></li>
								{% endif %}
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
	
	<div class="first-widget parallax" id="portfolioId">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Project Showcase</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Home / Gallery</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row project-single">
			<div class="col-md-8">
					<div class="flexslider">
						<ul class="slides">
							<li><img src={% static "images/includes/P4.jpg"%} alt="Slide 1"></li>
							<li><img src={% static "images/includes/P5.jpg"%} alt="Slide 2"></li>
						</ul>
					</div>

			</div> <!-- /.col-md-8 -->
			<div class="col-md-4">
				<div class="project-info">
					<span class="subtitle">In Progress</span>
					<h3 class="project-title">Mars Rover</h3>
					<p class="description">The team is working on various aspects of the project i.e. Software, Mechanical, Electronics, Communication, Life Sciences.</p>
					<ul class="meta-post">
						<li><span>Date:</span>February 2022</li>
						<li><span>Tagline:</span>Progress Work</li>
					</ul>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->	

	<div class="static-info-project">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<p class="larger-text">Interested about Sponsoring us ? Go ahead and talk with us on the <a href={% url 'contact'%}>contact page</a>. We'll be pleased to answer you within a few hours.</p>
				</div> <!-- /.col-md-8 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.static-info-project -->

	<div class="related-projects">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Related Projects</h2>
						<p class="section-desc">These are some projects that you may be interested to see.</p>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->

		<div class="container">
			<div class="row">
				<div class="portfolio-holder">
					<div class="portfolio-post col-sm-6 col-md-4">
						<div class="thumb-post" style="height: 200px !important; weight: 300px !important">
							<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Robotics</span>
                                    <h3 class="portfolio-title"><a href={% url 'gallery'%}>Robotic Arm</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/includes/P1.jpg"%} title="Robotic Arm">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/includes/P1.jpg"%} alt="Gloss Template">
						</div>
					</div> <!-- /.col-md-4 -->

					<div class="portfolio-post col-sm-6 col-md-4">
						<div class="thumb-post" style="height: 200px !important; weight: 300px !important">
							<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Self Driving AI</span>
                                    <h3 class="portfolio-title"><a href={% url 'gallery'%}>Autonomous Drone</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/includes/P2.jpg"%} title="Autonomous Drone">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/includes/P2.jpg"%} alt="Ion Template">
						</div>
					</div> <!-- /.col-md-4 -->

					<div class="portfolio-post col-sm-6 col-md-4">
						<div class="thumb-post" style="height: 200px !important; weight: 300px !important">
							<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Software</span>
                                    <h3 class="portfolio-title"><a href={% url 'gallery'%}>3D Terrain Mapper</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/includes/P3.jpg"%} title="3D Terrain Mapper">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/includes/P3.jpg"%} alt="Freshness">
						</div>
					</div> <!-- /.col-md-4 -->
				</div> <!-- /.portfolio-holder -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.related-projects -->

	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href={% url 'index'%}>Home</a></li>
							<li><a href={% url 'gallery'%}>Gallery</a></li>
							<li><a href={% url 'blog'%}>Blog Posts</a></li>
							<li><a href={% url 'team'%}>Team</a></li>
							<li><a href={% url 'contact'%}>Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Mars Rover by Team Deimos, IIT Mandi</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src={% static "js/min/plugins.min.js"%}></script>
	<script src={% static "js/min/medigo-custom.min.js"%}></script>


</body>
</html>