<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Mars Rover, IIT Mandi</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->
    {% load static %}
	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href={% static "bootstrap/bootstrap.css"%}>
	<link rel="stylesheet" href={% static "css/misc.css"%}>
	<link rel="stylesheet" href={% static "css/red-scheme.css"%}>
	
	<!-- JavaScripts -->
	<script src={% static "js/jquery-1.10.2.min.js"%}></script>
	<script src={% static "js/jquery-migrate-1.2.1.min.js"%}></script>

	<link rel="shortcut icon" href={% static "images/favicon.ico"%} type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="project-slideshow.html">Gallery</a>
            </li>
            <li><a href="blog.html">Blogs</a>
            <li><a href="team.html">Team</a></li>
            <li><a href="contact.html">Sponsor Us</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html" style="font-size: 20px;">
							<img src={% static "images/logo.png"%}>
							&nbsp Mars Rover, IIT Mandi
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li><a href="/">Home</a></li>
					            <li><a href="gallery/">Gallery</a>
					            </li>
					            <li><a href="blog/">Blogs</a>
					            </li>
					            <li class="active"><a href="team/">Team</a></li>
          						<li><a href="contact/">Sponsor Us</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->

	<div class="first-widget parallax" id="portfolio">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Meet Our Team</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Home / Team</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row">
			<div class="col-md-12">
				<ul id="filters" class="mixitup-controls">
					<li class="filter" data-filter="all">Entire team</li>
					<li class="filter" data-filter="software">Software</li>
					<li class="filter" data-filter="mech">Mechanical</li>
					<li class="filter" data-filter="electronics">Electronics</li>
					<li class="filter" data-filter="lifesciences">Life Sciences</li>
					<li class="filter" data-filter="management">Management</li>
				</ul>
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->	

	<div class="container">
		<div class="row">
			<div class="portfolio-holder" id="Grid">
				
                <div class="portfolio-post col-sm-6 col-md-4 mix management">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Management</span>
                                    <h3 class="portfolio-title"><a >Project Lead</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/khyati.jpeg" %} title="Khyati Agarwal">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/khyati.jpeg" %} alt="Khyati Agarwal">
					</div>
                    <h3 style="text-align: center;">Khyati Agarwal</h3>
				</div>
                
				<div class="portfolio-post col-sm-6 col-md-4 mix management">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Management</span>
                                    <h3 class="portfolio-title"><a >Management Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/dipanshu.jpeg" %} title="Dipanshu Verma">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/dipanshu.jpeg" %} alt="Dipanshu Verma">
					</div>
                    <h3 style="text-align: center;">Dipanshu Verma</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix management">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Management</span>
                                    <h3 class="portfolio-title"><a >Management Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/abhishek.jpeg" %} title="Abhishek Parmar">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/abhishek.jpeg" %} alt="Abhishek Parmar">
					</div>
                    <h3 style="text-align: center;">Abhishek Parmar</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix management">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Management</span>
                                    <h3 class="portfolio-title"><a >Management Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/ankit.jpg" %} title="Ankit Karan">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/ankit.jpg" %} alt="Ankit Karan">
					</div>
                    <h3 style="text-align: center;">Ankit Karan</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix management">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Management</span>
                                    <h3 class="portfolio-title"><a >Management Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/ridhi.jpeg" %} title="Ridhi Ratan">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/ridhi.jpeg" %} alt="Ridhi Ratan">
					</div>
                    <h3 style="text-align: center;">Ridhi Ratan</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix software">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Software</span>
                                    <h3 class="portfolio-title"><a >Software Team Lead</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/vivek.jpeg" %} title="Vivek Mittal">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/vivek.jpeg" %} alt="Vivek Mittal">
					</div>
                    <h3 style="text-align: center;">Vivek Mittal</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix software">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Software</span>
                                    <h3 class="portfolio-title"><a >Software Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/rohan.jpeg" %} title="Rohan Raj">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/rohan.jpeg" %} alt="Rohan Raj">
					</div>
                    <h3 style="text-align: center;">Rohan Raj</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix software">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Software</span>
                                    <h3 class="portfolio-title"><a >Software Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/rishabh.jpeg" %} title="Rishabh Garg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/rishabh.jpeg" %} alt="Rishabh Garg">
					</div>
                    <h3 style="text-align: center;">Rishabh Garg</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix software">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Software</span>
                                    <h3 class="portfolio-title"><a >Software Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/deepak_k.jpg" %} title="Deepak Khatri">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/deepak_k.jpg" %} alt="Deepak Khatri">
					</div>
                    <h3 style="text-align: center;">Deepak Khatri</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix software">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Software</span>
                                    <h3 class="portfolio-title"><a >Software Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/akash.jpeg" %} title="Akash Karnatak">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/akash.jpeg" %} alt="Akash Karnatak">
					</div>
                    <h3 style="text-align: center;">Akash Karnatak</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix software">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Software</span>
                                    <h3 class="portfolio-title"><a >Software Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/arshita.jpeg" %} title="Arshita Kalra">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/arshita.jpeg" %} alt="Arshita Kalra">
					</div>
                    <h3 style="text-align: center;">Arshita Kalra</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix mech">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Mechanical</span>
                                    <h3 class="portfolio-title"><a >Mechanical Team Lead</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/balkar.jpg" %} title="Balkar Singh">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/balkar.jpg" %} alt="Balkar Singh">
					</div>
                    <h3 style="text-align: center;">Balkar Singh</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix mech">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Mechanical</span>
                                    <h3 class="portfolio-title"><a >Mechanical Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/shashwat.jpg" %} title="Shashwat Gupta">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/shashwat.jpg" %} alt="Shashwat Gupta">
					</div>
                    <h3 style="text-align: center;">Shashwat Gupta</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix mech">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Mechanical</span>
                                    <h3 class="portfolio-title"><a >Mechanical Team Member </a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/nikhil.jpg" %} title="Nikhil Katnor">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/nikhil.jpg" %} alt="Nikhil Katnor">
					</div>
                    <h3 style="text-align: center;">Nikhil Katnor</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix mech">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Mechanical</span>
                                    <h3 class="portfolio-title"><a >Mechanical Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/aachman.jpg" %} title="Aachman Gandhi">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/aachman.jpg" %} alt="Aachman Gandhi">
					</div>
                    <h3 style="text-align: center;">Aachman Gandhi</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix mech">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Mechanical</span>
                                    <h3 class="portfolio-title"><a >Mechanical Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/akshansh.jpeg" %} title="Akshansh Dhiman">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/akshansh.jpeg" %} alt="Akshansh Dhiman">
					</div>
                    <h3 style="text-align: center;">Akshansh Dhiman</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Lead</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/sudhanshu.jpeg" %} title="Sudhanshu Chauhan">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/sudhanshu.jpeg" %} alt="Sudhanshu Chauhan">
					</div>
                    <h3 style="text-align: center;">Sudhanshu Chauhan</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/anurag.jpeg" %} title="Anurag Maurya">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/anurag.jpeg" %} alt="Anurag Maurya">
					</div>
                    <h3 style="text-align: center;">Anurag Maurya</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/geetanshu.jpg" %} title="Geetanshu Arsiya">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/geetanshu.jpg" %} alt="Geetanshu Arsiya">
					</div>
                    <h3 style="text-align: center;">Geetanshu Arsiya</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/prachee.jpeg" %} title="Prachee Mathur">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/prachee.jpeg" %} alt="Prachee Mathur">
					</div>
                    <h3 style="text-align: center;">Prachee Mathur</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/vidhi.jpeg" %} title="Vidhi desai">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/vidhi.jpeg" %} alt="Vidhi desai">
					</div>
                    <h3 style="text-align: center;">Vidhi desai</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/prabjot singh.jpg" %} title="Prabjot singh">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/prabjot singh.jpg" %} alt="Prabjot singh">
					</div>
                    <h3 style="text-align: center;">Prabjot singh</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/deepak.jpeg" %} title="Deepak Kumar Sah">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/deepak.jpeg" %} alt="Deepak Kumar Sah">
					</div>
                    <h3 style="text-align: center;">Deepak Kumar Sah</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix electronics">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Electronics</span>
                                    <h3 class="portfolio-title"><a >Electronics Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/ashish.jpeg" %} title="Ashish Anand">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/ashish.jpeg" %} alt="Ashish">
					</div>
                    <h3 style="text-align: center;">Ashish Anand</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix lifesciences">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Life Sciences</span>
                                    <h3 class="portfolio-title"><a >Life Sciences Team Lead</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/lalit.jpeg" %} title="Lalit Narayan Mudgal">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/lalit.jpeg" %} alt="Lalit Narayan Mudgal">
					</div>
                    <h3 style="text-align: center;">Lalit Narayan Mudgal</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix lifesciences">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Life Sciences</span>
                                    <h3 class="portfolio-title"><a >Life Sciences Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/pranav.jpeg" %} title="Pranav R Iyengar">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/pranav.jpeg" %} alt="Pranav R Iyengar">
					</div>
                    <h3 style="text-align: center;">Pranav R Iyengar</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix lifesciences">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Life Sciences</span>
                                    <h3 class="portfolio-title"><a >Life Sciences Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/ayush.jpeg" %} title="Ayush Nigam">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/ayush.jpeg" %} alt="Ayush Nigam">
					</div>
                    <h3 style="text-align: center;">Ayush Nigam</h3>
				</div>

				<div class="portfolio-post col-sm-6 col-md-4 mix lifesciences">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Life Sciences</span>
                                    <h3 class="portfolio-title"><a>Life Sciences Team Member</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href={% static "images/team/vishesh.jpeg" %} title="Vishesh Soni">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src={% static "images/team/vishesh.jpeg" %} alt="Vishesh Soni">
					</div>
                    <h3 style="text-align: center;">Vishesh Soni</h3>
				</div>


				
				
			</div> <!-- /.portfolio-holder -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	

	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="/">Home</a></li>
							<li><a href="gallery/">Gallery</a></li>
							<li><a href="blog/">Blog Posts</a></li>
							<li><a href="team/">Team</a></li>
							<li><a href="contact/">Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Mars Rover by Team Deimos, IIT Mandi</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src={% static "js/min/plugins.min.js"%}></script>
	<script src={% static "js/min/medigo-custom.min.js"%}></script>


</body>
</html>
